/*  reset */

body, h1, h2, h3, h4, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, serif;
    color: #252525;
}
.menu {
    background:#252525;
    padding: 20px 0;
}

.menu-container {
    max-width: 960px;
    margin: 0 auto;
}

a.menu-logo {
    display: block;
    float: left;
}

.menu-container::after, .menu-container::before {
    content: '';
    display: table;
    clear: both;
}

.menu-nav {
    float: right;
}

.menu-nav li {
    display: inline-block;
}

.menu-nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.125em;
}

.menu-nav a:hover {
    color: tomato;
}

/* main */

.intro {
    background-image: url('img/bg-intro.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 128px 0 183px 0;
    color: #ffffff;
    text-align: center;
}

.intro h1 {
    font-size: 48px;
    font-weight: bold;
    font-family: Georgia, serif;
    text-transform: uppercase;
}

.intro h1::after {
    content: '';
    display: block;
    width: 20px;
    height: 4px;
    background: #ffffff;
    margin: 10px auto;

}

.intro p {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-style: italic;
}

/* sobre */

.sobre {
    padding: 60px 0;
}

.sobre-container {
    max-width: 960px;
    margin: 0 auto;
}

.sobre-container::after, 
.sobre-container::before {
    content: '';
    display: table;
    clear: both;
}

.sobre h2 {
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 60px;
}


.sobre-item {
    width: 460px;
    float: left;
    margin: 0 10px;
}

.sobre-item img {
    display: block;
    max-width: 100%;
}

.sobre-item span {
    background: #252525;
    color: #ffffff;
    width: 220px;
    display: block;
    font-size: 36px;
    font-style: italic;
    font-weight: normal;
    padding: 5px 0 10px 0;
    text-align: center;
    top: -25px;
    position: relative;
}

.sobre > P {
    text-align: center;
    font-style: italic;
    font-size: 1.25em;
    line-height: 1.4em;
    margin: 20px auto;
    max-width: 460px;
}

/*  produtos */

.produtos {
    padding: 60px 0;
    background: #e7e4d8;
    border-top: 3px solid #d6d3c8;
    border-bottom: 3px solid #d6d3c8;
}

.produtos-container::after, .produtos-container::before {
    content: '';
    display: table;
    clear: both;
}

.produtos-container {
    max-width: 960px;
    margin: 0 auto;
}

.produtos-item {
    width: 300px;
    float: left;   
    margin: 0 10px 20px 10px;
}

.produtos-item h2::before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    background: currentColor;
    border-radius: 50%;
    margin: 20px auto;
    border: 3px solid #e7e4d8;
    box-shadow: 0 0 0 10px currentColor;
}

h2.produtos-paulista::before {
    color: #492901;
}

h2.produtos-carioca::before {
    color:#c17139;
}

h2.produtos-mineiro::before {
    color: #d7a54d;
}

.produtos-item h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.produtos-item p {
    font-size: 14px;
    line-height: 18px;
}

.produtos-btn {
    border: 3px solid;
    font-size: 18px;
    color: #252525;
    text-transform: uppercase;
    text-decoration: none;
    width: 180px;
    padding: 15px 0;
    display: block;
    margin-top: 20px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
}

/*  locais */

.locais {
    padding: 60px 0;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 0;
}

.locais-item {
    clear: both;
    margin: 60px auto;
}

.locais-item > div {
    width: 460px;
    float: left;
    margin: 0 10px;
}

.locais-item::after, .locais-item::before {
    content: '';
    display: table;
    clear: both;
}

.locais-item img {
    width: 460px;
    display: block;
    float: left;
    margin: 0 20px 0 10px;
}

.locais-item h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.locais-item p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 40px;
}

.locais-item a {
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    border: 3px solid;
    color: #252525;
    padding: 10px 20px;
}

/* sub footer  */

.assine {
    background: #e7e4d8;
    padding: 30px 0;
}

.assine-container {
    max-width: 960px;
    margin: 0 auto;
}

.assine-container::after, 
.assine-container::before {
	content: '';
	display: table;
	clear: both;
}

.assine-info {
    float: left;
    width: 460px;
    margin: 0 10px;
}



.assine-info h2 {
    font-size: 36px;
    font-style: normal;
}

.assine-info  p {
	font-size: 1.5em;
	font-style: italic;
	
}

.assine form {
    float: left;
    width: 460px;
    margin: 0 10px;
}

.assine form  label {
	display: none;
}


.assine input {
	width: 320px;
	border: 3px solid #252525;
	background: none;
	font-size: 1.5em;
	font-style: italic;
	font-family: 'Georigia', serif;
	padding: 10px;
	float: left;
}


.assine button {
	background: #252525;
	color: #FFF;
	border: 3px solid #252525;
	font-size: 1.5em;
	font-style: italic;
	font-family: 'Georigia', serif;
	padding: 10px;
	float: left;
	text-transform: uppercase;
}

/* footer */

.footer {
	background: #d6d3c8;
	padding: 40px 0;
}


.footer-container {
	max-width: 960px;
	margin: 0 auto;
}

.footer-container::after, 
.footer-container::before {
	content: '';
	display: table;
	clear: both;

}

.footer p {
	width: 482px;
	margin: 0 10px;
	float: left;
	font-size: 1.125em;
	line-height: 1.4em;
}

.footer img {
	float: right;
	margin: 0 10px;
	display: block;
	
}

/* tablet */

@media (min-width: 740px) and (max-width: 980px) {
	
		.sobre-item {
			width: 450px;
			float: none;
			margin: 0 auto;
	}

	.sobre-item img {
			display: block;
			max-width: 100%;

	}
	
	.locais-item > div {
    width: 260px;
    float: left;
    margin: 0 10px;
}
	
	produtos-container{
		max-width: 720px;	
	}
	
	.produtos-item {
    width: 220px;
    float: left;   
}
	   

}

/* celular */


@media (max-width: 739px) {
	.intro {
		padding: 60px 0;
	}
	
	.produtos-item {
		width: 300px;
    float: none;
    margin: 0 auto;
	}
	
	.produtos-item p {
		width: 350px;
		margin: 0 auto;
	}
	.produtos-item p {
		width: 350px;
		margin: 20px auto;
	}
	
	.locais-item img {
		display: block;
		max-width: 100%;
	}
	
	.locais-item {
		max-width: 300px;
	}
	
	.assine input {
		width: 250px;
		border: 3px solid #252525;
		background: none;
		font-size: 1.5em;
		font-style: italic;
		font-family: 'Georigia', serif;
		padding: 10px;
		float: left;
}
	
	
	.assine-info {
		float: none;
    width: 460px;
    margin: 0 10px 10px 10px;
	}
	
		.footer p {
		width: 300px;
		margin: 10px auto;
		float: none;
		font-size: 16px;
		line-height: 1.4em;
	}

	.footer img {
		float: none;
    margin: 20px auto;
    display: block;

	}
	
	
}


